[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
[submodule "public"]
	path = public
	url = https://github.com/robbiesri/robbiesri.github.io.git
	branch = master
